<div id="wrapper">

	<%= form_for @profile, html: { multipart: true } do |f| %>

		<%= f.label :first_name, "First Name:", :input_html => { :id => 'email' } %><br />
		<%= f.text_field :first_name, autofocus: true %>
		
		<%= f.label :last_name, "Last Name:" %><br />
		<%= f.text_field :last_name %>

		<%= f.label :address_one, "Address One:" %><br />
		<%= f.text_field :address_one %>

		<%= f.label :address_two, "Address Two:" %><br />
		<%= f.text_field :address_two %>

		<%= f.label :city, "City:" %><br />
		<%= f.text_field :city %>

		<%= f.label :state, "State:" %><br />
		<%= f.select :state, @options_for_state, autofocus: true %>

		<%= f.label :zip, "Zipcode:" %><br />
		<%= f.text_field :zip %>

		<%= f.label :email, "Email:" %><br />
		<%= f.email_field :email %>

		<%= f.label :phone, "Phone Number:" %><br />
		<%= f.text_field :phone %>

</div>

<div class="heading"><div id="wrapper"><h3>About You</h3></div></div>

<div id="wrapper">

	  <%= f.label :image, "Upload a profile photo:" %>
	  <%= f.file_field :image %>

		<%= f.label :degree, "Degree:" %><br />
		<%= f.text_field :degree %>

		<%= f.label :university, "University:" %><br />
		<%= f.text_field :university %>

		<%= f.label :therapeutic_style, "Therapeutic Style:" %><br />
		<%= f.text_field :therapeutic_style %>

		<%= f.label :years_of_practice, "Years of Practice:" %><br />
		<%= f.text_field :years_of_practice %>

	  <p><%= f.submit "Save", class: "btn btn-primary btn-lg" %></p>
	
	<% end %>

</div>