<% provide(:title, 'Sign Up') %>

<div class="heading"><div id="wrapper"><h3>Sign Up</h3></div></div>

<div id="wrapper">

	<%= devise_error_messages! %>

  <p>Fill out the form below to register with us.</p>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

		<%= f.label :email %><br />
	  <%= f.email_field :email, autofocus: true %>

	  <%= f.label :password %> 
	  	<% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
	  	<%= f.password_field :password, autocomplete: "off" %>

	  <%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation, autocomplete: "off" %>

	  <div><%= f.submit "Sign up" %></div>

	<% end %>
	
	<%= render "therapists/shared/links" %>
</div>
