<%= favicon_link_tag 'favicon.ico' %>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Private Practice Pro", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
      <% if therapist_signed_in? %>
			<li><%= link_to "Create Profile", new_profile_path %></li>
      <li><%= link_to "Edit Profile", edit_profile_path(current_therapist.profile) %></li>

      <li><%= link_to "Log out", destroy_therapist_session_path, method: :delete %></li>
			<% else %>
			<li><%= link_to "Sign up", new_therapist_registration_path %></li>
      <li><%= link_to "Sign in", new_therapist_session_path %></li>
			<% end %>
		</ul>
  </div><!-- /.navbar-collapse -->
	</div>
</nav>

